body{
    font-family: 'Roboto', sans-serif;
    font-size: 16 px;
    color: #434455;
    background-color: #FFFFFF;
}

.main-headline{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 60px;
    text-align: center;
    line-height: 1.07;
    color: #ffffff;
}

.nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.nav:hover{
    color: #404bbf;
}

.nav:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}

.conts{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.conts:hover{
    color: #404bbf;
}

.conts:focus{
    color: #404bbf;
}

.order{
    background-color: #2e2f42;
}

.team{
    background-color: #F4F4FD;
}

.teammates{
    background-color: #FFFFFF;
}

.section-header{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    line-height: 1.11;
    text-transform: capitalize;
}

.headline{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    line-height: 1.2; 
}

.small{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

.medium{
    font-weight: medium;
    letter-spacing: 0.02em;
    line-height: 24px;
}

.button{
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
}

.button:hover{
    background-color: #404BBF;
}

.button:focus{
    background-color: #404BBF;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

header .logo .partoflogo{
    color: #2e2f42;
}

.footer {
    background-color: #2e2f42;
}

footer .logo .partoflogo{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

footer .info{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}